@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.mat-display-3 {
  font-family: "Open Sans", sans-serif;
  margin-top: 45px;
  font-size: 60px;
}
.mat-headline {
  margin-top: -45px;
  font-family: "Open Sans", sans-serif;
}
mat-toolbar {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}
