<mat-toolbar color="primary" style="justify-content: space-between">
  <div>Explorer</div>
  <div>
    <button mat-button><mat-icon>forum</mat-icon></button>
    <button mat-button><mat-icon>email</mat-icon></button>
    <button mat-button><mat-icon>share</mat-icon></button>
  </div>
</mat-toolbar>
<div class="text">
  <h2 class="mat-display-3" style="text-align: center">
    Explore what's happenning around the world
  </h2>
  <div style="text-align: center; line-height: 50px" class="mat-headline">
    Locate articles and breaking news headlines from news <br />sources and
    blogs across the web
  </div>
</div>
