<mat-toolbar color="primary" style="justify-content: space-between">
  <div>Explorer</div>
  <div>
    <button mat-button><mat-icon>account_circle</mat-icon>{{ email }}</button>
    <button mat-button (click)="getData()">
      <mat-icon>bookmark</mat-icon>Saved Items
    </button>
    <button mat-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>Logout
    </button>
  </div>
</mat-toolbar>
