@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.mat-display-3 {
  font-family: "Open Sans", sans-serif;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 60px;
}
.mat-headline {
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}

mat-card {
  position: relative;
  left: 8%;
  background-color: rgb(63, 81, 181);
  text-align: center;
  border-radius: 30px;
  width: 80%;
  margin-bottom: 50px;
}

mat-label {
  color: aliceblue;
}

mat-card-title {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: rgb(63, 81, 181);
  border-radius: 200px;
  margin-bottom: 15px;
  padding: 7px;
}

.input {
  text-align: center;
  position: relative;
  left: 8px;
  margin-bottom: 15px;
  height: 40px;
  width: 320px;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 400;
  border-radius: 200px;
  border: none;
  outline: none;
}

button:disabled {
  color: white !important;
}
