<div class="text">
  <h2 class="mat-display-3" style="text-align: center">
    Explore what's happenning around the world
  </h2>
  <div style="text-align: center; line-height: 50px" class="mat-headline">
    Locate articles and breaking news headlines from news <br />sources and
    blogs across the web
  </div>
</div>

<mat-card>
  <mat-card-title>Please enter a search term or a topic </mat-card-title>
  <mat-card-content>
    <form
      class="form-container"
      (ngSubmit)="onSubmit()"
      [formGroup]="searchForm"
    >
      <input type="text" class="input" required formControlName="keyword" />
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          type="submit"
          [disabled]="!searchForm.valid"
        >
          Search
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
