@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.container {
  height: 52%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  background-color: rgba(245, 245, 245, 0.896);
  text-align: center;
  border-radius: 30px;
  width: 22%;
  margin-top: -60px;
}

mat-form-field {
  margin-bottom: 8px;
}
.title {
  height: 40px;
  width: 105%;
  background-color: rgb(63, 81, 181);
  padding: 7px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  left: -14px;
  top: -25px;
}
