<div class="container">
  <div class="loading-spinner" *ngIf="isLoading" style="text-align: center">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card *ngIf="!isLoading">
    <div class="title">
      {{ inLoginMode ? "Login" : "SignUp" }}
    </div>

    <mat-card-content>
      <form
        class="form-container"
        (ngSubmit)="onSubmit()"
        [formGroup]="credentialsForm"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            (input)="onInput()"
          />
          <mat-error *ngIf="credentialsForm.get('email').invalid"
            >email is required</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            (input)="onInput()"
          />
          <mat-hint *ngIf="!inLoginMode" align="end"
            >Minimum 6 characters</mat-hint
          >
          <mat-error *ngIf="credentialsForm.get('password').errors?.required"
            >Password is required</mat-error
          >
          <mat-error *ngIf="credentialsForm.get('password').errors?.minlength"
            >Password should have minimum 6 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field
          *ngIf="credentialsForm.get('password').valid && !inLoginMode"
        >
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            (input)="onInput()"
          />
          <mat-error
            *ngIf="
              credentialsForm.errors?.passwordMismatch &&
              (credentialsForm.get('confirmPassword').touched ||
                credentialsForm.get('confirmPassword').dirty)
            "
            >Password does not match</mat-error
          >
        </mat-form-field>

        <mat-card-actions>
          <button
            *ngIf="!inLoginMode"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!credentialsForm.valid"
          >
            SignUp
          </button>
          <button
            *ngIf="inLoginMode"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="
              !credentialsForm.get('email').valid ||
              !credentialsForm.get('password').valid
            "
          >
            Login
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="switchMode()"
            type="button"
          >
            Switch to {{ inLoginMode ? "SignUp" : "Login" }}
          </button>
        </mat-card-actions>
      </form>

      <mat-error *ngIf="errors && displayError"> {{ errors }} </mat-error>
    </mat-card-content>
  </mat-card>
</div>
