<div [hidden]="ishidden" class="mat-display-3">Saved Items</div>
<div class="mat-elevation-z8" [hidden]="ishidden">
  <mat-table [dataSource]="dataSource" *ngIf="newsArray.length !== 0">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="publishedAt">
      <mat-header-cell *matHeaderCellDef> Publish Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.publishedAt }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef style="color: black; font-size: 15px">
        Full Story
      </mat-header-cell>
      <mat-cell *matCellDef="let element"
        ><a href="{{ element.url }}" target="_blank">
          <mat-icon>link</mat-icon>{{ element.source }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <button mat-button color="primary" (click)="deleteData(element, i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="100"
    #MatPaginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
  <div class="action-buttons">
    <button
      [disabled]="!newsArray.length"
      mat-raised-button
      color="primary"
      style="align-items: right"
      (click)="deleteallData()"
    >
      <mat-icon>delete</mat-icon>Delete All Saved Items
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="hideTable()"
      style="align-items: right"
    >
      Close
    </button>
  </div>
</div>
