@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

table {
  width: 100%;
}

a,
a:visited {
  color: rgba(0, 0, 255, 0.633);
}

.mat-display-3 {
  text-align: center;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 50px;
}

.mat-elevation-z8 {
  margin-bottom: 80px;
}
.close-button {
  position: relative;
  left: 95.5%;
}
.loading-spinner {
  display: flex;
  justify-content: center;
}
mat-row:hover {
  border: 2px solid black;
}

mat-header-cell {
  color: black;
  font-size: 15px;
}
mat-cell {
  padding: 15px;
}
.mat-column-title {
  margin-left: 100px;
  flex: 0 0 28% !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-right: 80px;
}

.mat-column-publishedAt {
  padding-right: 80px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.mat-column-url {
  align-items: center;
  text-align: center;
  justify-content: left;
}

.mat-column-save {
  align-items: center;
  text-align: center;
  justify-content: center;
}
